/*
 * Layout.
 */

body {
  padding-top: 70px;
  font-family: 'Open Sans', verdana !important;
  font-size: 1.8em !important;
}

.container-fluid {
  padding: 3px 10px !important;
}

.navbar {
  background: #f8f8f8;
  padding:  15px;
  border-bottom: 1px solid #ccc !important;
}

/**
 * Form.
 */

input {
  width: 200px;
  padding: 3px 0 3px 10px;
}

/**
 * Rows.
 */

ul {
  padding:  0;
}

li {
  list-style: none;
  padding: 10px 0 10px 10px;
  font-size: 1.8em;
  border-bottom: 1px solid #ededed;
}

li.selected {
  background: #fcf8e3 !important;/*#f2dede*/
  color: #888888; /*#d9534f*/
}

li.completed {
  background: #f8f8f8;/*#f2dede*/
  color: #888888; /*#d9534f*/
  text-decoration: line-through;
}

li .glyphicon-ok {
  position: relative;
  float: right;
  margin-right: 30px;
  color: #5cb85c;
}

li .glyphicon-remove {
  position: relative;
  top: 5px;
  float: right;
  margin-right: 10px;
  color: #d9534f;
}

/* Hide/show delete icon. */
li .glyphicon {
  display: none;
}

li.selected .glyphicon {
  display: inline-block;
}