<head>
  <title>Grocery List</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="container-fluid">
    {{> add_item}}
    {{> item_list}}
  </div>
</body>


<template name="add_item">
  <div class="navbar navbar-fixed-top">
  <form id="add-food">
  <input type="text" id="food-name" placeholder="Grocery list.."/>
  <button id="add-button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add</button>
  <span class="total-items">{{total_items}}</span>
  </form>
  </div>
</template>


<template name="item_list">
  <ul>
  {{#each item}}
    <li id="food-list-item">{{food_item}} <span class="glyphicon glyphicon-remove"></span></li>
  {{/each}}
  </ul>
</template>